{% extends 'base.html' %}
{% block contenttitle %} <div class="container-header container-header-text"><h2>Add a new chapter</h2></div> {% endblock %}
{% block album_active %} active {% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <form class="entry-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'courses/form_template.html'%}
        <button type="submit" class="col-md-offset-5">Submit</button>
    </form>
</div>
{% endblock %}