{% extends 'base.html' %}

{% block contenttitle %}
<div class="container-header container-header-text"><h2>{{ course.name }}</h2></div>
<div class="col-md-3">
<div class="thumbnail-img col-md-4"><img src="{{ course.logo.url }}" class="img-responsive"></div>
</div>
{% endblock %}

{% block content %}
{% if error_message %}
<p><strong>{{ error_message}}</strong>></p>
{% endif %}
<div class="col-md-9">
    {%for chapter in course.chapter_set.all %}
    <div id="chapter{{forloop.counter}}" class="chapter-section">
    <label for = "chapter{{forloop.counter}}">
        <a href=" {% url 'courses:chapter-detail' course_pk=course.pk pk=chapter.pk %}" >{{chapter.name}}</a>
    </label><br>
    </div>
    {% endfor %}
    <li class="add-button col-sm-2">
        <a href="{% url 'courses:chapter-add' pk=course.id  %}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
            Add Chapter
         </a>
    </li>
</div>
{% endblock %}